{% comment %}
=============================================================
=============================================================
In order for this to work, two things need to happen:

1. Tag Product with the Main Blog Handle
    BE SURE TO ADD 'faqs_' before the handle

2. Tag the article with the product handle
=============================================================
=============================================================
{% endcomment %}

{% assign blog_array = "" %}

{% for tag in product.tags %}
  {% if tag contains 'faqs' %}
    {% assign faq_handle = tag | split: '_' | last %}
    {% if blog_array == "" %}
      {% assign blog_array = faq_handle %}
    {% else %}
      {% assign blog_array = blog_array | append: ',' | append: faq_handle %}
    {% endif %}
  {% endif %}
{% endfor %}
{% assign blog_array = blog_array | split: "," %}
{% if blog_array != blank %}
  <section class="faq-section">
    <div class="container l">

      <h2 class="title">FAQs</h2>

      {% for handle in blog_array %}
        {% assign faq = blogs[handle] %}
        {% for article in faq.articles %}
          {% for tag in article.tags %}
            {% if tag == product.handle %}
              <div class="faq-block">
                <p class="lead">{{ article.title }}</p>
                <p class="body">{{ article.content }}</p>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endfor %}

    </div>
  </section>
{% endif %}
