{% form 'recover_customer_password' %}

{{ form.errors | default_errors }}

<label for="customer_email">Email Address</label>
<input type="email" name="email" />
<div class="actions">
	<input type="submit" class="recover-pswd action-hide" value="Submit" />
	<a class="btn primary-btn recover-action">Submit</a>	
</div>

{% endform %}
