<!-- snippets/icon.liquid -->
{% comment %}
  Don't forget to comrpress your icons! https://jakearchibald.github.io/svgomg/
  All icons must be created at 32px by 32px regardless of size to be scaled to
{% endcomment %}
<span class="icon" aria-hidden="true">
  {%- case icon -%}
  {% when 'search' %}
    <i class="fa fa-search" aria-hidden="true"></i>
  {% when 'cart' %}
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  {% when 'user' %}
    <i class="fa fa-user" aria-hidden="true"></i>
  {% when 'menu' %}
    <i class="fa fa-bars" aria-hidden="true"></i>
  {% when 'facebook' %}
    <i class="fa fa-facebook" aria-hidden="true"></i>
  {% when 'instagram' %}
    <i class="fa fa-instagram" aria-hidden="true"></i>
  {% when 'twitter' %}
    <i class="fa fa-twitter" aria-hidden="true"></i>
  {% when 'pinterest' %}
    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
  {% when 'amex' %}
    <i class="fa fa-cc-amex" aria-hidden="true"></i>
  {% when 'mastercard' %}
    <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
  {% when 'paypal' %}
    <i class="fa fa-cc-paypal" aria-hidden="true"></i>
  {% when 'visa' %}
    <i class="fa fa-cc-visa" aria-hidden="true"></i>
  {% when 'gplus' %}
    <i class="fa fa-google-plus" aria-hidden="true"></i>
  {% when 'email' %}
    <i class="fa fa-envelope" aria-hidden="true"></i>
  {% when 'linkedin' %}
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  {% when 'print' %}
    <i class="fa fa-print" aria-hidden="true"></i>
  {% when 'chevron-down' %}
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  {% else %}
    <!-- No icon found -->
    <path class="stroke" d="M26.6 5.4L5.4 26.6"/><circle class="stroke" cx="16" cy="16" r="15"/>
  {%- endcase -%}
</span>
