<section class="yotpo-social">
	<div class="container l">
		<div class="yotpo yotpo-pictures-gallery"
			data-layout-rows="2"
			data-spacing="0"
			data-source="instagram"
			data-title="1"
			data-title-text="Customer Inspiration"
			data-title-color="#56575f"
			data-title-alignment="center"
			data-title-font-size="24"
			data-title-mobile-font-size="18"
			data-hover-color="#ffffff"
			data-hover-opacity="0.8"
			data-hover-icon="true"
			data-content="all"
			data-cta-text="Shop Now"
			data-cta-color="#2f84ed"
			></div>
</section>