.addresses {
	font-family: 'Poppins';
	.title {
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 35px;
	}

	.address-block {
		box-shadow: $boxShadow;
		display: block;
		width: 80%;
		margin: 0 auto;
		padding: 20px;
		margin-bottom: 20px;
		@include s() {
			width: 90%;
		}

		.address {
			display: block;
			width: 100%;
			box-shadow: $boxShadow;
			margin-bottom: 30px;
		}

		.highlight {
			display: block;
			padding: 20px 0;
			text-align: center;
			background: #253d83;
			color: #fff;
		}

		.address-info {
			padding: 20px;
		}

		.actions {
			@include s() {
				padding-bottom: 20px;
			}
			a.btn {
				display: inline-block;
				@include s() {
					display: block;
					width: 90%;
					margin: auto;
				}

				&.left {
					margin-left: 15px;
					margin-bottom: 15px;
					@include s() {
						margin: 0 auto;
						margin-bottom: 10px;
					}
				}

				&.right {
					float: right;
					margin-right: 15px;
					margin-bottom: 15px;
					@include s() {
						float: none;
						margin: 0 auto;
					}
				}
			}
		}
	}
	.new-address {
		margin: 10px 0;
		text-align: center;
	}

	.account-sidebar {
		box-shadow: $boxShadow;
		display: block;
		width: 90%;
		margin: 0 auto;

		.title {
			text-align: center;
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 15px;
			background: #f1f1f1;
			padding: 20px 0;
		}

		.account-sb-body {
			padding: 20px;
			a {
				color: #000;
			}
			p {
				margin-bottom: 10px;
			}
		}
	}
}