/* Cart ======================================================================*/

.quantity-adjust {
  margin-bottom: $gutter/2;
  @include prefixer(user-select, none, webkit moz ms o spec);
  .adjust {
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    line-height: $gutter/1.5 - $borderWeight*4;
    font-size: 1.35rem;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: $borderWeight $borderStyle transparent;
    color: #000;
  }
  .quantity, input#Quantity.quantity {
    display: inline-block;
    width: 45px;
    height: 57px;
    line-height: $gutter/1.5;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    background-color: lighten($colorBackground, 30%);
    border-radius: $borderRadius;
    border-color: lighten($colorBackground, 30%);
    font-size: 1rem;
    color: $colorText;
    @include prefixer(appearance, textfield, moz);
    &[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  input#Quantity.quantity {
    line-height: $gutter/1.5 - $borderRadius*2;
    &[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}


.template-cart {
  @include s() {
    .product_title {
      display: block;
      margin-bottom: $gutter/2;
    }
  }
}

.cart-page {
  padding: 40px 0;
  font-family: 'Poppins';
  @include s() {
    padding: 40px 20px;
  }
  .image-container,
  .product_title,
  .variant_title {
    @include s() {
      text-align: center;
    }
  }
  .title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  #CartHeader {
    box-shadow: $boxShadow;
    background: #f1f1f1;
    padding: 20px;
    text-align: center;
    @include s() {
      display: none;
    }
  }
  a {
    color: #000;
    text-decoration: none;
  }
  .price {
    text-align: center;
    padding-top: 30px;
  }

  .quantity-adjust {
    text-align: center;
    padding-left: 5px;
    @include s() {
      padding-right: 0;
      padding-bottom: 35px;
    }
  }

  .cart-table {
    box-shadow: $boxShadow;
    padding: 20px 20px 0px;
    margin-bottom: 15px;
  }

  .cart-total {
    box-shadow: $boxShadow;
    padding: 20px 0px;
    margin-bottom: 15px;
    text-align: center;
  }

  .actions {
    .hide-action {
      display: none;
    }
    a.btn {
      display: block;
      width: 90%;
      margin: 5px auto;
    }
  }
}
