.collection-section {
	.title-block {
		padding-top: 80px;
		padding-bottom: 50px;
		@include s() {
			padding-top: 80px;
			padding-bottom: 30px;
		}
		h1 {
			@include poppins(48px, bold, normal);
	    color: #fff;
	    text-align: center;
	    margin-top: 100px;
	    text-shadow: $boxShadow;
	    @include s() {
	    	font-size: 20px;
	    	margin-top: 10px;
	    }
		}
	}
	.crumbs {
		&.crumb-left {
			text-align: left;
		}
		&.crumb-right {
			text-align: right;
		}
	}
	.sort-wrapper {
		margin-bottom: 10px;
		&.sort-left {
			text-align: left;
		}
		&.sort-right {
			text-align: right;
		}
		@include s() {
			text-align: center!important;
			width: 80%;
			margin: 50px auto 5px auto;
		}
		label {
			@include poppins(18px, 600, normal);
			margin-right: 10px;
			@include s() {
				display: inline-block;
				width: 29%;
				font-size: 18px;
			}
		}
		select {
			@include poppins(15px, 600, normal);
			height: 44px;
			line-height: normal;
			padding: 5px 40px 5px 10px;
			width: 200px;
			background: #fff;
			border: 1px solid #c0c0c0;
			color: #000;
			&::-ms-expand {
				display: none;
			}
			@include s() {
				box-shadow: $boxShadow;
			}
		}
		.select-wrapper {
			position: relative;
			&:after {
				position: absolute;
				font-family: 'FontAwesome';
				font-size: 20px;
				content: '\f078';
				z-index: 5;
		        top: 12px;
		        right: 10px;
		        @include s() {
		        	right: 20px;
		        }
			}
			@include s() {
				width: 65%;
				display: inline-block;
			}
		}
	}
	.collections-container {
		font-family: 'Poppins';
		padding: 40px 0;
		@include s() {
			padding: 40px 20px;
		}

		.product-block {
			padding: 0 2%;
		}

		.product {
			box-shadow: $boxShadow;
			height: 540px;
			position: relative;
			@include m() {
				margin-bottom: 10px;
			}
			@include s() {
				height: 500px;
				margin-bottom: 10px;

			}
			&.column {
				padding: 0;
			}
			.yotpo {
				position: absolute;
				bottom: 16%;
				left: 0;
				right: 0;
				padding: 0 20px;
				@include s() {
					bottom: 18%;
				}
			}
			.product-image {
				background: #f9f9f9;
				padding: 10px;
				margin-bottom: 10px;
				position: relative;
				height: 300px;
				text-align: center;
				@include s() {
					padding: 0;
					height: 270px;
				}

				img {
					max-width: 266px;
					max-height: 266px;
					padding-top: 55px;
				}

				.product-feature {
					background: transparent;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 5;
					&:hover {
						background: rgba(37, 61, 131, 0.5);
						transition: 0.3s;
						.action {
							display: block;
						}
					}
					p {
						background: #253D83;
						text-align: center;
						padding: 10px;
						color: #fff;
						font-weight: 600;
					}

					.action {
						text-align: center;
						display: none;
						a.btn {
							display: block;
							width: 60%;
							margin: 0 auto;
							margin-top: 60%;
							&:hover {
								background: #fff;
								color: #253D83;
								transition: 0.3s;
							}
						}
					}
				}
			}

			.product-info {
				padding: 20px;
				@include s() {
					padding: 5px 20px;
				}
				a {
					color: #000;
					text-decoration: none;
					font-size: 18px;
					font-weight: bold;
					@include s() {
						font-size: 14px;
					}
				}
				p {
					@include s() {
						font-size: 14px;
						margin-top: 10px;
					}
				}
				.starting-from {
					color: #979797;
				}
			}
			.action {
				padding: 20px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				a.btn {
					display: block;
				}
			}
		}

		.collection-group {
			p {
				display: inline-block;
				margin-right: 10px;
				margin-left: 30px;
				@include s() {
					font-size: 18px;
					margin: 0;
					margin-bottom: 30px;
					text-align: center;
					display: block;
				}
			}
			a {
				display: inline-block;

			}
		}
	}

	.pagination {
		color: #979797;
	}
}