.crumbs {
	margin: 20px 0;
	text-align: left;
	color: #979797;
	@include poppins(14px, 600, normal);
	@include m() {
		font-size: 10px;
	}
	@include s() {
		display: none;
	}
	a {
		color: #979797;
		text-decoration: none;
	}
}