.past-orders {
	font-family: 'Poppins', sans-serif;
	@include s() {
		padding: 0 4%;
	}

	.order-table {
		max-width: 1000px;
		margin: 2em auto 2em;
		box-shadow: $boxShadow;
		.title {
			padding: 20px;
			background: #00499E;
			text-align: center;
			color: #fff;
			@include poppins(24px, 600, normal);
			margin-bottom: 15px;
		}
		.order-info {
			padding: 10px;
			text-align: center;
			border-bottom: 1px solid #979797;
			.lead {
				@include poppins(18px, 600, normal);
			}
			.info {
				@include poppins(14px, 500, normal);
			}
			a.btn {
				display: inline-block;
			}
		}
		.ordered-products {
			padding: 10px;
			.product-block {
				box-shadow: $boxShadow;
				.product-info {
					padding: 10px;
					.title {
						@include poppins(18px, 600, normal);
						background: #fff;
						padding: 0;
						a {
							color: #000;
							text-decoration: none;
						}
					}
					p {
						margin: 5px 0;
						text-align: center;
						@include poppins(14px, 500, normal);
					}
				}
			}
		}
	}
	.price {
		max-width: 500px;
		margin: 10px auto;
		box-shadow: $boxShadow;
		padding: 20px;
		p {
			@include poppins(18px, 600, normal);
			margin-bottom: 10px;
		}
	}
	.details {
		margin: 2em 0;
		.detail-block {
			margin: 0 10px;
			box-shadow: $boxShadow;
			.title {
				padding: 20px;
				background: #00499E;
				color: #fff;
				text-align: center;
				@include poppins(18px, 600, normal);
			}
			p, 
			a {
				@include poppins(16px, 500, normal);
				padding: 10px;
				margin: 5px 0;
			}
			a {
				color: #000;
			}
		}
	}
}