/* Popups ====================================================================*/

/// Basic popup styling
.popup {
  position: fixed;
  z-index: 9996;
  opacity: 0;
  visibility: hidden;
  @include transition();
  &.visible {
    opacity: 1;
    visibility: visible;
    @include transition();
  }
  .popup-content {
    display: inline-block;
    z-index: 9999;
    max-width: 100%;
    max-height: 100%;
    overflow: auto; // Optional line for overly tall popups
    padding: $gutter;
    background-color: $colorBackground;
    text-align: initial;
    cursor: default;
    white-space: initial;
    color: $colorForeground;
  }
  &.overlay {
    background: rgba($colorForeground, 0.85);
    @include overlay();
    .popup-outside {
      position: absolute;
      z-index: 9998;
      @include overlay();
    }
    .popup-inner {
      -webkit-backface-visibility: hidden;
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      @include overlay();
      @include prefixer(transition-delay, 0.3s, webkit moz spec);
      @include prefixer(transform, translateY(-$gutter/2), webkit moz ms spec);
      @include transition();
    }
    .popup-content {
      @include vertical-align();
    }
    &.visible {
      .popup-inner {
        @include prefixer(transform, translateY(0px), webkit moz ms spec);
      }
    }
  }
  &.notification {
    .popup-content {
      position: fixed;
      bottom: $gutter;
      left: $gutter;
      padding: $gutter/2;
      @include prefixer(transition-delay, 0.3s, webkit moz spec);
      @include prefixer(transform, translateY(-$gutter/2), webkit moz ms spec);
      @include transition();
    }
    &.visible {
      .popup-content {
        @include prefixer(transform, translateY(0px), webkit moz ms spec);
      }
    }
  }
  .popup-close {
    display: block;
    position: absolute;
    top: $gutter/2;
    right: $gutter/2;
  }
}

// Popup Cart

#PopupCart {
  font-family: 'Poppins';

  a {
    color: #2d2d2d;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    &.btn {
      color: #fff;
      display: block;
      font-size: 14px;
      width: 70%;
      margin-top: 15px;
      margin-bottom: 15px;
      @include s() {
        width: 200px;
      }
      &:hover {
        color: #000;
      }
    }
  }

  .quantity-adjust {
    .quantity {
      height: 41px;
      line-height: 27px;
    }
  }

  .checkout-btn {
    a.btn {
      margin: auto;
      margin-top: 25px;
    }
  }

  .items {
    padding: 20px 40px;
    @include s() {
      padding: 20px;
    }
  }

  .at-checkout,
  .cart-item {
    padding: 0px 40px;
  }

  .popup-content {
    width: 500px;
    padding: 0;
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    background: #f1f1f1;
  }

  p {
    margin-bottom: $gutter/3;
    white-space: normal;
  }
  .cart-item {
    margin-bottom: $gutter/3;
  }
}

// Popup Account

#PopupAccount {
  .popup-content {
    width: 400px;
  }
}

// Address Edit Popup
.edit_address,
.new_address,
.delete_address {
  .popup-content {
    padding: 0;
    h4 {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      padding: 20px 0;
      background: #f1f1f1;
      margin-bottom: 15px;    
    }
    form {
      display: block;
      width: 90%;
      margin: 0 auto;
      box-shadow: $boxShadow;
      padding: 10px;
      label {
        padding: 10px 0;
      }
      input,
      select {
        height: 49px;
        line-height: normal;
        border: none;
        box-shadow: $boxShadow;
        background: #fff;
        color: #00499E;
        &:focus {
          border: 1px solid #00499E;
        }
      }

      input[type="checkbox"] {
        box-shadow: none;
      }

      .actions {
        display: block;
        a.btn {
          display: inline-block;
        }
        @include s() {
          a.btn {
            display: block;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 10px;
            &.cancel {
              float: none;
            }
          }
        }
        .action-hide {
          display: none;
        }
        .cancel {
          float: right;
        }
      }
    }
    .delete-info {
      padding: 20px;
      .actions {
        .cancel {
          float: right;
          @include s() {
            float: none;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
