/* Product ===================================================================*/
.product-page {
  font-family: 'Poppins';
  padding-bottom: 40px;
  .crumbs {
    &.crumb-left {
      text-align: left;
    }
    &.crumb-right {
      text-align: right;
    }
  }
  #ProductThumbs {
    @include s() {
      display: none;
    }
  }
  .mb-share {
    display: none;
    @include s() {
      display: block;
    }
    .share-title,
    .social-sharing {
      display: block;
      text-align: center;
    }
  }
  .product-row {
    margin-top: 40px;
    @include s() {
      padding: 0px 20px;  
    }
  }
  .yotpo {
    margin-bottom: 2em;
  }
  .thumb-img {
    border: 1px solid #ececec;
    width: 65%;
    margin: 5px auto;
  }
  .share-title {
    margin-top: 40px;
    margin-bottom: 15px;
    color: #2d2d2d;
    @include poppins(16px, 600, normal);
    @include s() {
      display: none;
    }
  }

  .social-sharing {
    @include s() {
      display: none;
    }
  }

  .product-title {
    @include poppins(36px, bold, normal);
    @include s() {
      font-size: 24px;
    }
  }

  #ProductPrice {
    @include poppins(24px, 600, normal);
    margin: 20px 0;
    @include s() {
      margin-top: 5px;
      font-weight: 500;
    }
  }
  .option-selector {
    label {
      width: 100%;
      @include poppins(16px, 500, normal);
      @include s() {
        font-size: 18px;
      }
    }
    .select-wrapper {
      width: 350px;
      margin-bottom: 20px;
      position: relative;
      @include m() {
        width: 100%;
      }
      @include s() {
        width: 100%;
        text-align: center;
      }
      &:before {
        content: '\f078';
        font-family: 'FontAwesome';
        position: absolute;
        z-index: 5;
        top: 38px;
        right: 20px;
        color: #000;
        font-size: 20px;
        cursor: pointer;
        pointer-events: none;
        @include m() {
          right: 4%;
        }
        @include s() {
          right: 30px;
        }
      }
    }
    select {
      max-width: 350px;
      height: 57px;
      padding: 12px 24px;
      margin: 20px 0;
      background: #f9f9f9;
      border: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-shadow: $boxShadow;
      line-height: normal;
      color: #000;
      position: relative;
      &::-ms-expand {
        display: none;
      }
      @include poppins(18px, 500, normal);
      position: relative;
      @include m() {
        padding: 12px 24px 12px 15px;
      }
      @include s() {
        max-width: 100%;
      }
    }
  }
  .quantity-selector {
    text-align: center;
    .quantity-adjust {
      margin-top: 20px;
      height: 57px;
    }
  }
  .submit-area {
    margin: 40px 0;
    a.btn,
    button.btn {
      display: block;
      width: 63.5%;
      padding: 18px;
      @include m() {
        width: 49.5%;
      }
      @include s() {
        margin: 20px 0;
        font-size: 24px;
        width: 100%;
      }
    }
  }

  .product-description {
    box-shadow: $boxShadow;
    margin-top: 100px;
    @include s() {
      margin-top: 50px;
    }
    .title {
      @include poppins(16px, 600, normal);
      border-bottom: 1px solid #dedede;
      padding: 10px 40px;
    }
    p {
      @include roboto(14px, 500, normal);
      line-height: 25px;
      padding: 20px 40px 30px;
      text-align: justify;
    }
  }

  .quick-add {
    #OnSale {
      @include poppins(1.125rem, 600, normal);
      color: #fff;
      margin-bottom: 0;
    }
    a.btn {
      width: 100%;
    }
  }

  .product-calculator {
    box-shadow: $boxShadow;
    margin-top: 4em;
    margin-right: 1em;
    @include m() {
      margin-top: 6.6em;
      margin-right: 0;
    }
    @include s() {
      margin: 0;
    }
    .title, .calculator {
      @include poppins(16px, 600, normal);
      border-bottom: 1px solid #dedede;
      padding: 10px 40px;
    }
  }
}
