
.social-sharing {
  margin-bottom: $gutter;
}
.button.share {
  padding: 0;
  height: 20px;
  line-height: ($gutter/1.5 - $borderWeight*2);
  font-size: 1rem;
  background-color: rgba(#fff,0);
  border: none;
  margin-right: 15px;
  color: #2d2d2d;
  @include s() {
    width: 10%;
  }
  &.facebook {
    color: #3b5998;
    &:hover {
      color: darken(#3b5998, 10%);
    }
  }
  &.twitter {
    color: #00aced;
    &:hover {
      color: darken(#00aced, 10%);
    }
  }
  &.pinterest {
    color: #cb2027;
    &:hover {
      color: darken(#cb2027, 10%);
    }
  }
  &.fancy {
    color: #4999dc;
    &:hover {
      color: darken(#4999dc, 10%);
    }
  }
  &.google {
    color: #dd4b39;
    &:hover {
      color: darken(#dd4b39, 10%);
    }
  }
}
