/*==============================================================================
Feel free to add your own header, but please keep the following:
 ___  _   _    _
/   || | | |  | |
\__  | | | |  | |  __
/    |/  |/_) |/  /  \_/\/
\___/|__/| \_/|__/\__/  /\_/
              |\
              |/
Concrete v2.0.1
https://github.com/Elkfox/Concrete
Copyright (c) 2017 Elkfox Co Pty Ltd
https://elkfox.com
MIT License
==============================================================================*/

window.concrete = window.concrete || {};

// perhaps turn into an assign in function?
concrete.strings = {
  soldOut: "{{ 'product.sold_out' | t }}",
  addToCart: "{{ 'product.add_to_cart' | t }}",
  unavailable: "{{ 'product.unavailable' | t }}"
};

concrete.urlParams = {};

/*================ Concrete ================*/
// =require concrete/cache.js
// =require concrete/utils.js
// =require concrete/a11y.js
// =require concrete/currency.js
// =require concrete/sections.js
// =require concrete/images.js
// =require concrete/collection.js
// =require concrete/variants.js
// =require concrete/product.js
// =require concrete/empty-section.js


// Initialize on document ready
$(document).ready(function() {
  // Register sections js
  var sections = new concrete.Sections();
  sections.register('product', concrete.Product);
  sections.register('collection', concrete.Collection);


  // Init Slick Slider for Hero
  function initSlickSlider() {
    $('#hero-slider').slick({
      arrows: true,
      infinite: true,
      useCSS: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      autoplay: true,
      autoplaySpeed: 5000,
      prevArrow: '<a class="hero-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>',
      nextArrow: '<a class="hero-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>'
    });

    // Init Slick Slider for Blog
    $('#blog-slider').slick({
      arrows: true,
      infinite: false,
      useCSS: false,
      slidesToShow: 3,
      slidesToScroll: 1,
      dots: false,
      autoplay: false,
      prevArrow: '<a class="blog-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>',
      nextArrow: '<a class="blog-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>',
      responsive: [
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            prevArrow: '<a class="blog-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>',
            nextArrow: '<a class="blog-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>',
            draggable: true
          }
        },
        {
          breakpoint: 850,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            arrows: false,
            prevArrow: '<a class="blog-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>',
            nextArrow: '<a class="blog-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>',
            draggable: true
          }
        }
      ]
    });  
  }

  initSlickSlider();

  

  // Accordion for Support Articles
  $('.home-accordion').on('click', function() {
    $(this).next('.pane').slideToggle('slow');
  });

  // Mobile Header menu
  $('#mobile-btn').on('click', function() {
    $('#mobile-actions').slideToggle();
    $('#header-menu').slideToggle();
    $(this).find('i').toggleClass("fa-bars fa-times");
  });

  // Product Quick Add
  $('.quick-add .single-option-selector').on('change', function(e) {
    var optionVal = $(this).val();
    $('.product-page .single-option-selector.main').val(optionVal);
    $('.product-page .single-option-selector.main').trigger('change');
  });

  $('.product-page .single-option-selector.main').on('change', function(e) {
    var optionVal = $(this).val();
    $('.quick-add .single-option-selector').val(optionVal);
    $('.quick-add .single-option-selector').trigger('change');
  });


  $('.quick-add .adjust[data-change=-1]').on('click', function() {
    $('#AddToCartForm .adjust[data-change=-1]').trigger('click');
  });

  $('.quick-add .adjust[data-change=1]').on('click', function() {
    $('#AddToCartForm .adjust[data-change=1]').trigger('click');
  });

  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    $('.quick-add .submit-area a').on('click', function(e) {
      e.stopPropagation();
      $(document).scrollTop(670);
    });
  }



  $(document).scroll(function () {
    var y = $(this).scrollTop();
    if (y > 800) {
      $('.quick-add').fadeIn();
    } else {
      $('.quick-add').fadeOut();
    }
  });

  // Contact Us btn trigger 
  $('#contact-submit-trigger').on('click', function() {
    $('.contact-submit').trigger('click');
  });

  // Support Page Tabs
  function checkActiveTab() {
    if ($('.tab-item').hasClass('active')) {
      $('#icon').removeClass('fa-plus').addClass('fa-minus');
    } else {
      $('#icon').removeClass('fa-minus').addClass('fa-plus');
    }
  }
  checkActiveTab();

  $('.tab-item').on('click', function() {
    var index = $(this).index(),
        tabgroup = $(this).parents('.tab-navigation').data('tabgroup'),
        panelsContext = ($('.tab-panels[data-tabgroup="' + tabgroup + '"]' )),
        tabItemsContext = ($('.tab-navigation[data-tabgroup="' + tabgroup + '"]' ));

    $(".tab-item", tabItemsContext).removeClass("active");
    $(".tab-item", tabItemsContext).find('#icon').removeClass('fa-minus').addClass('fa-plus');
    $(this).addClass("active");
    $(this).find('#icon').removeClass('fa-plus').addClass('fa-minus');
    $(" > .tab-panel", panelsContext).removeClass("active");
    $(".tab-panel:eq(" + index + ")", panelsContext).addClass("active");
  });

  // Accordion for Support Page
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    $('.sp-accordion').on('click', function() {
      $(this).next('.m-pane').slideToggle('slow');
      $(this).find('i').toggleClass('fa-plus fa-minus');
    });
  }

  // Accordion for Support Sidebar
  $('.title-bar').on('click', function() {
    $(this).next('.article-pane').slideToggle('slow');
    $(this).find('i').toggleClass('fa-plus fa-minus');
  });

  $('.section-bar').on('click', function() {
    $(this).next('.section-pane').slideToggle('slow');
    $(this).find('i').toggleClass('fa-plus fa-minus');
  });

  // Login/Register Triggers
  $('.act-login').on('click', function() {
    $('#LoginForm').find('input[type="submit"]').trigger('click');
  });

  $('.act-register').on('click', function() {
    $('#RegisterForm').find('input[type="submit"]').trigger('click');
  });

  // Add/Edit Addresses Popup
  $('.add-address').on('click', function() {
    $('.add').trigger('click');
  });

  $('.update-address').on('click', function() {
    $('.update').trigger('click');
  });

  // Cart Page Actions 
  $('.update-action').on('click', function() {
    $('.update').trigger('click');
  });

  $('.checkout-action').on('click', function() {
    $('.checkout').trigger('click');
  });

  // Reset Account Actions 
  $('.reset-action').on('click', function() {
    $('.reset-pswd').trigger('click');
  });

  $('.recover-action').on('click', function() {
    $('.recover-pswd').trigger('click');
  });

  // Dropdown Menu for header 
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    $('.shop').on('click', function(e) {
      e.preventDefault();
      $('.dropdown').slideToggle();    
    })
  }
});
