<section class="recover-password">
	<div class="container l">
		<div class="crumbs">
			{% include 'theme-breadcrumbs' %}
		</div>
		<div class="form block">
			<h3 class="title">Password Recovery</h3>
			<div class="form-body">
				{% include 'form-recover-password' %}
			</div>
		</div>
	</div>
</section>

