.about-us {

	.about-block {
		text-align: justify;
		width: 100%;
		max-width: 96%;
		margin: 0 auto;
		.title {
			@include poppins(24px, 600, normal);
			text-align: center;
			margin-bottom: 35px;
			@include s() {
				margin-top: 35px;
			}
		}

		.image {
			height: 277px;
			position: relative;
			.logo-img {
				display: block;
			    margin: auto;
			    position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			}
		}

		.body {
			padding: 50px 30px;
			font-size: 18px;
			line-height: 22px;
		}

		.social-share {
			@include poppins(16px, 600, normal);
			color: #979797;
		}

		.follow-us {
			margin: 0px 0 40px;
			text-align: center;
		}

		.social-icons {
			@include flex();
			flex-direction: row;
			margin: 10px auto;
			width: 70%;
			a {
				color: #979797;
				font-size: 30px;
				&:hover {
					.fa-facebook {
						color: #3b5998;
						transition: 0.3s;
					}
					.fa-instagram {
						color: #fb3958;
						transition: 0.3s;
					}
					.fa-twitter {
						color: #00aced;
						transition: 0.3s;
					}
					.fa-linkedin {
						color: #0077B5;
						transition: 0.3s;
					}
					.fa-pinterest-p {
						color: #cb2027;
						transition: 0.3s;
					}
				}
			}
			li {
				flex: 1
			}
		}
	}
}