.my-account {
	position: relative;
	z-index: 1;
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		background: rgba(#fff, 0.85);
	}
	@include s() {
		padding: 0 20px;
	}
	.crumbs {
		margin-top: 0;
		padding-top: 20px;
	}

	.row {
		margin-bottom: 0;
	}

	.page-title {
		text-align: center;
		font-size: 18px;
		color: #2F3B70;
		padding: 30px 0;
	}
	.account-sidebar,
	.my-cart,
	.order-history {
		width: 340px;
		height: 530px;
		box-shadow: $boxShadow;
		display: block;
		margin: 3em auto 3rem;
		position: relative;
		background: #fff;
		@include m() {
			width: 100%;
			
		}
		@include s() {
			width: 100%;
			margin-bottom: .5rem;
		}
	}

	.order-block {
		box-shadow: $boxShadow;
		.title {
			color: #fff;
			background: #00499E;
			a {
				color: #fff;
			}
		}
		.body {
			padding: 20px;
		}
	}

	.title {
		@include poppins(18px, 600, normal);
		text-align: center;
		background: #f1f1f1;
		padding: 15px 0;
	}

	.cart-items,
	.order-body,
	.account-sb-body {
		padding: 15px;
		overflow-x: auto;
		height: 410px;
		a {
			@include poppins(18px, bold, normal);
			text-decoration: none;
			color: #2d2d2d;
		}
	}

	.cart-items {
		.item {
			margin-bottom: 0px;
		}
		.price {
			font-size: 18px;
		}
	}

	.my-cart {
		.total {
			border-top: 2px solid #f1f1f1;
			padding: 10px;
			text-align: right;
			margin-bottom: 0;
			padding-right: 25px;
			position: absolute;
		    bottom: 0;
		    left: 0;
		    right: 0;
		}
	}
}

.recover-password {
	font-family: 'Poppins';
	.form.block {
		text-align: center;
		display: block;
		box-shadow: $boxShadow;
		width: 50%;
		margin: 0 auto;
		padding-bottom: 20px;
		margin-bottom: 45px;
		@include s() {
			width: 90%;
		}

		.title {
			@include poppins(24px, 600, normal);
			background: #e5e5e5;
			padding: 20px;
			margin-bottom: 25px;
		}

		.form-body {
			padding: 20px;
			form {
				display: block;
				width: 65%;
				margin: 0 auto 40px;
				@include s() {
					width: 90%;
				}
				label {
					display: block;
					text-align: left;
					padding: 15px 0;
				}

				input {
					height: 50px;
					box-shadow: $boxShadow;
					display: block;
					width: 100%;
					background: #fff;
					line-height: normal;
					border: none;
					margin-bottom: 10px;
					&:focus {
						border: 1px solid #00499E;
					}
				}

				.actions {
					margin: 50px 0;
					.action-hide {
						display: none;
					}
				}
			}
		}
	}
}