.faq-section {
  padding: 40px 0;
  @include s() {
    padding: 10px 0;
  }
  .title {
    @include poppins(24px, 600, normal);
    text-align: center;
    margin: 40px 0;
    @include s() {
      margin: 10px 0;
    }
  }
  .faq-block {
    @include poppins(18px, 500, normal);
    box-shadow: $boxShadow;
    padding: 40px 100px;
    margin: 50px 0;
    @include s() {
      padding: 20px 10px;
      overflow-x: auto;
    }

    .lead {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}
