.hero-slider {
  height: 715px;
  margin-top: 37px;
  margin-bottom: 20px;
  padding-top: 5rem;
  @include m() {
    margin-bottom: 20px;
    height: auto;
  }
  @include s() {
    margin-top: 0px;
    padding: 110px 4% 40px;
    margin-bottom: 0px;
    height: auto;
    background-size: auto!important;
    background-position: 0% 0%!important;
  }

  .slider,
  .container,
  .row {
    height: inherit;
  }

  .column {
    vertical-align: middle;
  }

  .hero-feature {
    @include poppins(36px, bold, normal);
    text-shadow: $boxShadow;
    color: #fff;
    margin-bottom: 22px;
    @include s() {
      font-size: 20px;
    }
  }

  .hero-btn {
    a.btn {
      display: inline-block;

    }
  }

  .hero-img-container {
    text-align: center;
    margin-top: 130px;
    @include s() {
      margin-top: 10px;
    }
    img {
      width: 366px;
      margin: auto;
    }
  }

  .hero-prev {
    position: absolute;
    left: 29px;
    top: 270px;
    color: #fff;
    font-size: 3em;
    z-index: 9;
    @include m() {
      top: 220px;
    }
    @include s() {
      top: 40px;
      left: 0;
    }
  }

  .hero-next {
    position: absolute;
    right: 29px;
    top: 270px;
    color: #000;
    font-size: 3em;
    z-index: 9;
    @include m() {
      top: 220px
    }
    @include s() {
      top: 40px;
      right: 0;
      color: #fff;
    }
  }

}
