.howto-section {
  background: #f9f9f9;
  padding: 40px 0;
  .title {
    @include poppins(24px, 600, normal);
    text-align: center;
    margin: 40px 0;
  }

  .howto-block {
    box-shadow: $boxShadow;
    margin: 50px 0;
    font-size: 18px;
    .image-block {
      text-align: center;
    }
    .block {
      padding: 20px;
      margin: 10px 2em 2em;
      box-shadow: $boxShadow;
      @include s() {
        margin: 10px 0 2em;
      }
    }
  }

  .body {
    padding: 30px 40px;
  }
}
