.review-page {
	background: #f9f9f9;
	.crumbs {
		margin-top: 0;
		padding-top: 20px;
	}
	.title {
		@include poppins(24px, 500, normal);
		text-align: center;
	}
	.review-append {
		@include m() {
			padding: 0 20px;
		}
		@include s() {
			padding: 0 10px;
		}
		.block {
			padding: 37px 59px;
			margin: 3em 0;
			box-shadow: $boxShadow;
			background: #fff;
			@include m() {
				padding: 30px;
			}
			@include s() {
				padding: 20px;
			}

			.review-score {
				margin-bottom: 1em;
				font-size: 24px;
				.fa {
					margin-right: 2px; 
				}
				.fa-star {
					color: #ffc000;
					&.empty {
						color: #c9c9c9;
					}
				}
				.fa-star-half {
					position: relative;
					z-index: 1;
					color: #ffc000;
					margin-right: 13px;
					&:after {
						content: "\f005";
						color: #c9c9c9;
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						right: 0;
						z-index: -1;
					}
				}
			}

			p {
				margin-bottom: 1em;
			}

			.review-img {
				position: relative;
				display: block;
				width: 75px;
				height: 75px;

				@include s() {
					margin-bottom: 10px;
					margin: auto;
				}
				.fa-user-circle {
					font-size: 4.5em;
					color: #1cc286;
					@include s() {
						display: block;
					}
				}
				.fa-check-circle {
					position: absolute;
			    right: 7px;
			    font-size: 1.5em;
			    bottom: 6px;
			    background: #fff;
			    border-radius: 50%;
			    color: #00abc7; 
				}
			}

			.body {
				padding-left: 1.5em;
				@include m() {
					padding: 0;
				}
				@include s() {
					padding: 0;
				}
				.name {
					display: inline-block;
					@include roboto(16px, 500, normal);
				}
				.review-type {
					display: inline-block;
					@include roboto(16px, 500, normal);
					color: #979797;
					margin-left: 2em;
					@include m() {
						float: right;
						margin: 0;
					}
					@include s() {
						float: right;
						margin: 0
					}
				}
				.title {
					@include roboto(16px, bold, normal);
					text-align: left;
				}
				.content {
					@include roboto(16px, normal, normal);
				}
			}

			.date-votes {
				position: relative;
				min-height: 230px;
				@include m() {
					min-height: auto;
				}
				@include s() {
					min-height: auto;
				}
				.date {
					position: absolute;
					right: 0;
					top: 0;
					color: #979797;
					@include m() {
						position: relative;
						float: right;
						line-height: normal;
						margin: 0;
					}
					@include s() {
						position: relative;
						float: right;
						line-height: normal;
						margin: 0;
					}
				}
				.votes {
					bottom: 0;
					right: 0;
					left: 50px;
					@include flex();
					flex-direction: row;
					position: absolute;
					@include m() {
						left: 0;
						float: left;
						width: 40%;
						margin-top: 5px;
					}
					@include s() {
						left: 0;
						float: left;
						width: 60%;
						margin-top: 5px;
					}
					.voted-up {
						color: #00499E;
					}
					.voted-down {
						color: #99212c;
					}
					.vote-num,
					i {
						flex: 1;
						font-size: 20px;
						margin: 0;
						text-align: right;
						line-height: normal;
						@include m() {
							text-align: center;
						}
						@include s() {
							text-align: center;
						}
					}

					i {
						cursor: pointer;
					}
				}
			}
		}
	}
}