.shop-tiles {
  margin-top: 40px;
  padding-top: 20px;
  margin-bottom: 150px;
  text-align: center;
  height: 700px;
  @include s() {
    padding-top: 0px!important;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  @include m() {
    margin-bottom: 60px;
  }

  .mb-heading {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
  }

  .featured-tile {
    box-shadow: $boxShadow;
    height: 700px;
    position: relative;

    @include s() {
      height: 170px;
    }

    .content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: 30%;
      margin: auto;
      @include s() {
        width: 80%;
        height: 100%;
        position: relative;

        a.btn {
          float: right;
          font-size: 14px;
        }
      }
    }

    .heading {
      font-size: 48px;
      color: #fff;
      font-weight: 600;
      margin-bottom: 38px;
      text-shadow: $boxShadow;
      @include s() {
        font-size: 24px;
        text-align: right;
        padding-top: 20px;
      }
    }
  }

  .secondary-tiles {
    height: 700px;
    @include s() {
      height: auto;
    }

    .secondary-tile {
      height: 32.65%;
      box-shadow: $boxShadow;
      margin-bottom: 7px;
      position: relative;
      @include s() {
        height: 170px;
        margin: 0;
      }

      .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        margin: auto;
        @include s() {
          width: 80%;
          height: 100%;
          position: relative;

          a.btn {
            float: right;
            font-size: 14px;
            margin-top: 37px;
          }
        }
      }

      .heading {
        font-family: 'Poppins';
        text-align: right;
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        padding-right: 28px;
        margin-top: 20px;
        @include s() {
          font-size: 24px;
          text-align: right;
          padding-top: 20px;
          padding-right: 0;
          margin-top: 0;
        }
      }

      a.btn {
        float: left;
        margin-left: 28px;
        margin-top: 106px;
      }
    }
  }
}
