.support-accordion {
  font-family: 'Poppins';
  padding: 40px 0;
  margin: 40px 0;
  @include s() {
    padding: 0;
  }

  .heading {
    @include poppins(24px, 500, normal);
    text-align: center;
    margin-bottom: 80px;
    @include s() {
      margin-bottom: 40px;
    }
  }

  .title-bar {
    background: #00499E;
    color: #fff;
    padding: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    box-shadow: $boxShadow;
    @include s() {
      padding: 10px 5px;
      box-shadow: $boxShadow;
    }
    .lead {
      @include poppins(24px, 500, normal);
      display: inline-block;
      margin: 0;
      margin-left: 30px;
      @include s() {
        font-size: 14px;
      }
    }

    .accordion-action {
      font-size: 36px;
      text-align: center;
      width: 53px;
      float: right;
      margin: 5px 0;
      @include s() {
        font-size: 20px;
        margin: 3px 0;
      }
    }
  }

  .pane {
    padding: 40px;
    display: none;
    @include s() {
      padding: 10px;
    }

    .support-block {
      margin-bottom: 40px;
      padding: 20px;
      box-shadow: $boxShadow;
      height: 260px;
      position: relative;
      &.faqs {
        height: auto;
        box-shadow: none;
        .title {
          @include poppins(20px, 600, normal);
          color: #253D83;
        }
        .faq-block {
          padding: 10px;
          box-shadow: $boxShadow;
          position: relative;
          height: 260px;
          margin: 20px 0;

          .article-title {
            @include poppins(16px, 500, normal);
            text-align: center;
            margin-bottom: 10px; 
          }
        }
      }


      .title {
        @include poppins(24px, 500, normal);
        text-align: center;
        @include s() {
          font-size: 18px;
        }
      }

      .content {
        @include poppins(14px, 500, normal);
        height: 100px;
        @include s() {
          font-size: 14px;
        }
      }

      .action {
        padding: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        a.btn {
          display: inline-block;
        }
      }
    }

    .block-1,
    .block-4,
    .block-7 {
      padding-left: 0;
    }

    .block-3,
    .block-6,
    .block-9 {
      padding-right: 0;
    }
  }
}
