.support-page {
  font-family: 'Poppins';
  padding-top: 25px;
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
  @include s() {
    padding: 25px 4% 80px;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(#fff, 0.85);
    z-index: -1;
  }
  .title {
    @include poppins(24px, 600, normal);
    text-align: center;
    margin-bottom: 30px;
    @include s() {
      font-size: 18px;
    }
  }

  .search-bar {
    text-align: center;
    margin-bottom: 40px;
    form {
      position: relative;
      input {
        height: 46px;
        border-radius: 25px;
        width: 380px;
        padding: 5px 50px 5px 25px;
        @include s() {
          width: 260px;
        }
      }
      .icon {
        font-size: 25px;
        position: absolute;
        top: 10px;
        right: 23px;
      }
    }
  }

  .support-tabs {
    .tab-navigation {
      @include flex();
      list-style: none;
      margin: 0;
      @include s() {
        flex-direction: row;
      }
    }

    .tab-item {
      cursor: pointer;
      margin: 0;
      padding: 1.9em 2.2em;
      flex: 1;
      text-decoration: none;
      text-align: center;
      background: #00499e;
      color: #fff;
      @include poppins(18px, 600, normal);
      box-shadow: $boxShadow;
      @include s() {
        font-size: 14px;
        padding: 20px 0;
        #icon {
          display: none;
        }
      }

      i {
        float: right;
        @include s() {
          padding: 5px 0;
        }
      }

      &.active {
        background: #fff;
        color: #00499e;
        transition: 0.3s;
      }
    }

    .tab-panels {
      background: #fff;
      margin: 0;
      padding: 30px;
      box-shadow: $boxShadow;
      @include s() {
        background: transparent;
        box-shadow: none;
      }
      a {
        font-size: 14px;
        text-decoration: none;
        color: #2d2d2d;
        display: block;
        height: 100%;
      }

      .tab-panel {
        display: none;
        p {
          padding: 10px 20px;
        }
        .m-pane {
          @include s() {
            display: none;
          }
        }
        &.active {
          display: block;
        }

        .title {
          @include poppins(16px, 600, normal);
          color: #253d83;
          text-align: left;
          padding: 0 20px;
          position: relative;
          @include s() {
            background: #fff;
            color: #000;
            padding: 20px 20px;
            margin-right: -30px;
            font-size: 14px;
            box-shadow: $boxShadow;
          }
          i {
            display: none;
            @include s() {
              display: block;
              position: absolute;
              top: 41%;
              right: 30px;
            }
          }
        }
      }
    }
  }
}

