@charset "UTF-8";
/*==============================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Concrete v1.0
  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright 2015 Shopify Inc. & Elkfox Co Pty Ltd
==============================================================================*/

/* Settings ==================================================================*/
@import url('settings/variables.scss.liquid');

/* Utils =====================================================================*/
@import url('utils/mixins.scss');

/* Global ====================================================================*/
@import url('global/concrete-reset.scss');
@import url('global/global.scss');
@import url('global/grid.scss');
@import url('global/forms.scss');

/* Modules ===================================================================*/
@import url('modules/header.scss');
@import url('modules/navigation.scss');
@import url('modules/footer.scss');
@import url('modules/cart.scss');
@import url('modules/drawer.scss');
@import url('modules/popups.scss');
@import url('modules/social.scss');
@import url('modules/icon.scss');
@import url('modules/product.scss');
@import url('modules/buttons.scss');
@import url('modules/collections.scss');
@import url('modules/blog.scss');
@import url('modules/article.scss');
@import url('modules/contact.scss');
@import url('modules/crumbs.scss');
@import url('modules/search.scss');
@import url('modules/pagination.scss');
@import url('modules/addresses.scss');
@import url('modules/order.scss');

/* Sections ===================================================================*/
@import url('sections/hero.scss');
@import url('sections/shop-tiles.scss');
@import url('sections/blog-slider.scss');
@import url('sections/support-accordion.scss');
@import url('sections/faq-section.scss');
@import url('sections/howto-section.scss');
@import url('sections/product-quick-add.scss');
@import url('sections/aboutus.scss');
@import url('sections/support-page.scss');
@import url('sections/login-register.scss');
@import url('sections/account.scss');
@import url('sections/yotpo-widget.scss');
@import url('sections/reviews-page.scss');

/* Helpers ===================================================================*/
@import url('global/helpers.scss');

/* Vendors ===================================================================*/
@import url('vendor/slick.scss');

/* =============================================================================
   Shopify core helpers
============================================================================= */

// Shopify capture challenge
.shopify-challenge__container {
  	text-align: center;
  	margin: 135px auto;
	.shopify-challenge__button {
		display: block;
		margin: 0 auto;
		padding: 10px 30px;
		height: 50px;
		border-radius: 24px;
		border: none;
		box-shadow: $boxShadow;
		background-color: $colorBtnPrimary;
	    color: $colorBtnTextPrimary;
	    &:hover {
	      background-color: $colorBtnSecondary;
	      color: $colorBtnTextSecondary;
	      transition: 0.3s;
	    }
	}
}


