<section class="review-page">
	<div class="container l">
		<div class="crumbs">
			{% include 'theme-breadcrumbs' %}
		</div>
		<h3 class="title">Certified Reviews</h3>
		<div class="review-append">
			
		</div>
	</div>
</section>
{{ 'yotpo-ajax.js' | asset_url | script_tag }}